<div class="headerbase">
    <div class="menu">
        <a routerLink="/shop" style="color: black;"><mat-icon >local_mall</mat-icon></a> 
    </div>
    <img src="../../assets/img/logo.jpg" class="logo" />
    <div class="menu">
        <a routerLink="/kart" style="color: black;"><mat-icon >shopping_cart</mat-icon></a> 
        <mat-icon>face</mat-icon>
    </div>
</div>