.headerbase{
    background-color: #F1FAEE;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo{
    height: 40px;
}

.menu{
    display: flex; 
    flex-direction: row;
    align-items: center;
    min-width: 100px;
}

.menu * {
    margin-left: 15px;
    margin-right: 15px;
}