<div *ngIf="qrvalue == null" class="kartBase">
    <div *ngFor="let p of products" class="product">{{p.name}} <div>{{p.price}} €</div>
    </div>
    <div style="margin-top: 30px; margin-bottom: 30px"><mat-icon style="margin-right: 10px;">place</mat-icon> Abholbar im <b>FounderSpace der HNU</b> am <b>29.04.2022</b> </div>

    <div *ngIf="products.length != 0" class="btnBase">
        <button mat-raised-button color="primary" (click)="generateCode(true)">
            <mat-icon style="margin-right: 10px;">payment</mat-icon>mit PayPal bezahlen
        </button>
        <button mat-raised-button color="accent" (click)="generateCode(false)">
            <mat-icon style="margin-right: 10px;">savings</mat-icon>vor Ort bezahlen
        </button>
    </div>

    <div *ngIf="products.length == 0">Dein Einkaufswagen ist leer</div>
</div>

<div  *ngIf="qrvalue != null"  class="qrbase">
    <ngx-qrcode [value]="qrvalue"></ngx-qrcode>
</div>