.kartBase{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 720px;
    margin-top: 200px;
    align-items: stretch;
}

.product{
    border-radius: 10px;
    background-color: #eeeeee;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product div{
    font-weight: bold;
}

button{
    margin-top: 50px;
}

.btnBase{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.qrbase{
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}