<div class="productBase" *ngIf="product != null">
    <div class="heroSection">
        <div class="productImage">
            <img src="{{product.image}}" />
        </div>
        <div>
            <h1 class="ProductName accentFont">{{product.name}}</h1>
            <p>Vollmilchschokolade mit Karamellstückchen mit Meersalz 10 %</p>
            <div style="height: 40px;"></div>
            <div class="accentFont" style="font-size: 25px; font-weight: bold;">{{product.price + " €"}}</div>
            <div style="height: 16px;"></div>
            <div style="display:flex; flex-direction: row; align-items: center;">
                <button mat-raised-button color="{{ isInCart(product) ? 'accent' : 'primary'}}" (click)="toggleCart()">
                    <mat-icon style="margin-right: 10px;">shopping_cart</mat-icon>{{isInCart(product) ? "zurücklegen" :
                    "kaufen"}}
                </button>
                <div style="width: 30px"></div>
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>favorite_outline</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="mapSection">
        <img src="../../assets/img/worldmap.png" style="width: 100%; opacity: 0.4;" />
    </div>
</div>