.productBase{
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

.heroSection{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}

.productImage{
    width: 400px;
    display: flex;
    //padding: 20px;
}


.productImage img{
    width: 100%;
}

.heroSection h1{
    font-size: 28px;
    font-weight: bold;
}

.buyButton{
    align-items: center;
    padding: 10px;
    background-color: cornflowerblue;
    text-decoration: none;
    color: white;
}

.mapSection{
    margin-top: 70px;
}