.shopBase{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 720px;
    margin-top: 70px;
    align-items: stretch;
}

.product{
    margin: 20px;
    border-radius: 20px;
    background-color: #f3f3f3;
   // padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    width: 300px;
}

.product div{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.product img{
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    margin-top: 4px;
}

h2{
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    color: #999999;
}