<h2>unsere Produkte</h2>
<div class="shopBase">
    
    <a routerLink="{{'/product/' + p.name}}" *ngFor="let p of products" style="color: black;text-decoration: none !important;"><div class="product"><img src="{{p.image}}" /> <div class="accentFont"><div class="prodName">{{p.name}}</div> <div style="font-size: 15px; font-weight:500; min-width: 50px; text-align: end; margin: 0px; padding: 0px;">{{p.price}} €</div></div>
    </div></a>
    <div *ngIf="products.length == 0">Der Laden ist leider leer</div>
</div>