html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  
}

:root {
  --c-primary: #ff2b4e;
  --c-accent: #009688;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.accentFont{
  font-family: "Arvo", "Helvetica Neue", sans-serif !important;
}