<div class="homebase">
    <div class="hero">
        <div class="name">miri.</div>
    </div>
    <div class="linkSection">
        <a class="homeLink accentFont">
            zum Shop
        </a>
        <div class="linkDivider"></div>
        <a class="homeLink accentFont">
            zum Verein
        </a>
    </div>
    <div class="infoSection">
        <h3 class="accentFont">Wer wir sind</h3>
        <p>
            Nihil voluptate iure inventore. Animi excepturi sed occaecati fugit sit et voluptatem eum. Consequuntur
            reiciendis voluptas labore itaque quidem eos.

            Nihil est rerum id omnis laboriosam. Unde dignissimos et possimus. Nesciunt accusamus suscipit
            exercitationem sit maxime voluptate quia fuga. Et omnis soluta magnam reprehenderit aspernatur quis aliquid.
            Praesentium quis ea itaque sed aut accusamus.

            Quibusdam ullam occaecati impedit dolor. Nobis sit eos est qui autem. Dolor magni magni qui cupiditate
            nesciunt animi. Voluptatibus ut laudantium velit saepe eius dolore quod dolore.

        </p>
        </div>
        <div class="infoSection">
        <h3 class="accentFont">Was wir machen</h3>
        <p>
            Nihil voluptate iure inventore. Animi excepturi sed occaecati fugit sit et voluptatem eum. Consequuntur
            reiciendis voluptas labore itaque quidem eos.

            Nihil est rerum id omnis laboriosam. Unde dignissimos et possimus. Nesciunt accusamus suscipit
            exercitationem sit maxime voluptate quia fuga. Et omnis soluta magnam reprehenderit aspernatur quis aliquid.
            Praesentium quis ea itaque sed aut accusamus.

            Quibusdam ullam occaecati impedit dolor. Nobis sit eos est qui autem. Dolor magni magni qui cupiditate
            nesciunt animi. Voluptatibus ut laudantium velit saepe eius dolore quod dolore.

        </p>
    </div>
</div>