.homebase{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero{
    margin: 50px;
    max-width: 720px;
    border-radius: 20px;
    //background-color: #A8DADC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.infoSection{
    margin-top: 50px;
    max-width: 720px;
}

.infoSection h3{
    font-size: 30px;
    font-weight: bold;
}

.name{
    font-size: 130px;
}

.linkSection{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homeLink{
    padding: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

.linkDivider{
    height: 100px;
    width: 1px;
    background-color: black;
}